<nz-page-header [nzGhost]="false" class="site-page-header" nzBackIcon nzTitle="Dishes" nzSubtitle="This is a subtitle">
</nz-page-header>

<div class="inner-content">
  <div nz-row>
    <div class="toolbar-title" nz-col nzFlex="auto">
      <h3 nz-typography>Dishes</h3>
    </div>
    <div nz-col>
      <button nz-button nzType="primary"><i nz-icon nzType="plus"></i>Add Dish</button>
      <button nz-button disabled nzDanger><i nz-icon nzType="delete"></i>Delete Dish</button>
      <nz-divider nzType="vertical"></nz-divider>
      <nz-button-group>
        <button nz-button><i nz-icon nzType="reload"></i></button>
      </nz-button-group>
    </div>
  </div>

  <nz-table #headerTable [nzData]="dishes" [nzPageSize]="50" [nzScroll]="{ y: '240px' }">
    <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of headerTable.data">
      <td>{{ data.name }}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
