.forgot-form {
  max-width: 300px;
}
.forgot-form-margin {
  margin-bottom: 16px;
}
.forgot-form-forgot {
  float: right;
}
.forgot-form-button {
  width: 100%;
}
.form-head {
  text-align:center;
}
.ant-form {
  margin:auto!important;
}
.send-button {
  float:right;
}
