::ng-deep .ant-card {
  margin: 20px;
}

:host ::ng-deep router-outlet + *:not(nav) {
  flex: 1 1;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 8px 40px;
}

[nz-menu] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;
  max-width: 240px;
  flex: 1;
  overflow: hidden;
}

[nz-button] {
  margin: 0 8px;
}

.list {
  flex-grow: 4;
}

.toolbar  {
  padding: 16px 16px 4px 16px;
}
