<br>
<div class="ant-col ant-col-12 ant-col-offset-6">
<form nz-form [nzLayout]="'horizontal'" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-head">
    <h1 nz-typography>Register</h1>
    <p>Register today!</p>
  </div>
  <div class="alert">
    <nz-alert nzType="success" *ngIf="alertMessage === 'success'" nzMessage="Success you registered a new account, login to get access." nzShowIcon>{{alertMessage}}</nz-alert>
    <nz-alert nzType="error" *ngIf="alertMessage === 'error'" nzMessage="Error something went wrong.." nzShowIcon>{{alertMessage}}</nz-alert>
  </div>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired nzFor="firstname">First Name</nz-form-label>
    <nz-form-control [nzSpan]="12"  nzErrorTip="Please input a firstname!">
      <nz-input-group>
        <input nz-input formControlName="firstname"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired nzFor="lastname">Last Name</nz-form-label>
    <nz-form-control [nzSpan]="12"  nzErrorTip="Please input a lastname!">
      <nz-input-group>
        <input nz-input formControlName="lastname"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired nzFor="email">Email</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please input a email!">
      <nz-input-group>
        <input nz-input formControlName="email"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired nzFor="password">password</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please input your Password!">
      <nz-input-group>
        <input nz-input type="password" formControlName="password"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired nzFor="confirmPassword">confirm password</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Please input a password!">
      <nz-input-group>
        <input nz-input type="password" formControlName="confirmPassword"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7">
      <button [disabled]="!registerForm.valid" nz-button nzType="primary">Register</button>
      <span> Already have an account? <a routerLink="/login">Click here for login.</a></span>
    </nz-form-control>
  </nz-form-item>
</form>
</div>
