.send-button {
  float: right;
}

.form-head {
  text-align: center;
}

.alert {
  width: 50%;
  margin: auto auto 20px 29%;
}

.register-form {
  width: 500px;
}

.register-form-button {
  width: 100%;
}
