<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
        <img src="./assets/hamburger-solid.svg" alt="logo"/>
        <h1>Maaltijd Maat</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Meals" nzIcon="calendar">
        <ul>
          <li nz-menu-item nzMatchRouterExact>
            <a [routerLink]="['/', 'meals']">Overview</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Dishes" nzIcon="solution">
        <ul>
          <li nz-menu-item nzMatchRouterExact>
            <a [routerLink]="['/', 'dishes']">Overview</a>
          </li>
          <li nz-menu-item nzMatchRouterExact>
            <a [routerLink]="['/', 'dishes', 'new']">New Dish</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Groups" nzIcon="usergroup-add">
        <ul>
          <li nz-menu-item nzMatchRouterExact>
            <a [routerLink]="['/', 'groups']">Overview</a>
          </li>
          <li nz-menu-item nzMatchRouterExact>
            <a [routerLink]="['/', 'groups', 'invites']">Invites</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
          <a nz-dropdown class="profile-dropdown" [nzDropdownMenu]="menu">
            <i nz-icon nzType="user" nzTheme="outline"></i>
            {{username}}
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <li (click)="profile()" nz-menu-item>Your profile</li>
              <li (click)="help()" nz-menu-item>Help</li>
              <li (click)="logout()" nz-menu-item>Logout</li>
            </ul>
          </nz-dropdown-menu>
      </div>
    </nz-header>
     <nz-layout>
      <nz-content>
        <div>
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
