::ng-deep .ant-card {
  margin: 20px;
}

::ng-deep .ant-card-body {
  padding-left: 0;
  padding-right: 0;
}


[nz-button] {
  margin-left: 8px;
  margin-bottom: 12px;
}

.toolbar  {
  padding: 16px 16px 4px 16px;
}

::ng-deep .ant-table-pagination.ant-pagination {
  margin-right: 16px;
}
