<nz-page-header [nzGhost]="false" class="site-page-header" nzTitle="Groups" nzSubtitle="Add, edit or delete groups">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>Groups</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-extra>
    <button nz-button (click)="refreshList()"><i nz-icon nzType="reload"></i></button>
    <button nz-button nzType="primary" (click)="showNewGroupModal()"><i nz-icon nzType="plus"></i>New Group</button>
  </nz-page-header-extra>
</nz-page-header>

<nz-card>
  <div class="card-inner" *ngIf="groups.length > 0; else noGroups">
    <div nz-menu nzMode="inline">
      <ul class="list">
        <li *ngFor="let group of groups" nz-menu-item nzMatchRouter>
          <a [routerLink]="['group', group['id']]">{{group.name}}</a>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
  </div>
</nz-card>

<!-- This template is shown when there's no group the user is part of -->
<ng-template #noGroups>
<nz-empty [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
      <ng-template #contentTpl>
        <span>You are not a member of a group yet</span>
      </ng-template>
      <ng-template #footerTpl>
        <button nz-button nzType="primary" (click)="showNewGroupModal()">Create Group</button>
      </ng-template>
    </nz-empty>
</ng-template>

<app-new-group [(isVisible)]="showModal"></app-new-group>
