<h1 nz-typography>New Dish</h1>

<form nz-form [nzLayout]="'horizontal'" [formGroup]="formGroup" (ngSubmit)="submitForm()">

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="name">Dish name</nz-form-label>
    <nz-form-control nzErrorTip="Please input a name for the dish!">
      <nz-input-group>
        <input nz-input formControlName="name"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired
                   nzFor="amountOfPeople">Amount of people
    </nz-form-label>
    <nz-form-control nzErrorTip="Please input an amount of people">
      <nz-input-group>
        <nz-input-number formControlName="amountOfPeople" [nzMin]="1"
                         [nzStep]="1"></nz-input-number>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="instructions">Instructions
    </nz-form-label>
    <nz-form-control nzErrorTip="Please input an amount of people">
      <nz-input-group>
        <textarea rows="5" nz-input></textarea>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!formGroup.valid">Add Dish</button>
    </nz-form-control>
  </nz-form-item>

</form>
