<div nz-col nzFlex="auto">
    <h3 nz-typography>
      {{group.name}}
    </h3>
  <h4 nz-typography>Settings</h4>
</div>
<form [nzNoColon]="false"
      [nzLayout]="'vertical'"
      [formGroup]="formGroup"
      (ngSubmit)="updateGroup()"
      nz-form>
  <nz-form-item>
    <nz-form-label nzFor="name">Group name</nz-form-label>
    <nz-form-control nzErrorTip="Please input a name for the group!">
      <nz-input-group>
        <input nz-input formControlName="name"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <div nz-row [nzGutter]="8">
        <div nz-col>
          <button nz-button nzType="primary" [disabled]="!formGroup.valid">Update Group</button>
        </div>
        <div nz-col>
          <a nz-popconfirm nzPopconfirmPlacement="bottomRight"
             nzPopconfirmTitle="Are you sure that you want to delete {{ this.group.name }}?"
             (nzOnConfirm)="deleteGroup()">
            <button nz-button nzDanger type="button">Delete Group</button>
          </a>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>


<div nz-row>
  <div nz-col nzFlex="auto">
    <h4 nz-typography>Members</h4>
  </div>
  <div nz-col>
    <button nz-button [nzType]="'primary'" (click)="showInviteModal()">Invite Member</button>
  </div>
</div>

<nz-table #headerTable [nzData]="this.group.members!" [nzPageSize]="10" [nzShowPagination]="false">
  <thead>
  <tr>
    <th>User</th>
    <th>E-mail</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of headerTable.data">
    <td>
      <nz-avatar nzIcon="user" [style]="{'background-color': user['color']}"></nz-avatar>{{user['firstname']}} {{user['lastname']}}</td>
    <td>{{user['email']}}</td>
  </tr>
  </tbody>
</nz-table>

<app-invite-user [(isVisible)]="inviteModalIsVisible" [group]="group"></app-invite-user>
