<div nz-col nzFlex="auto">
  <h3 nz-typography>New Group</h3>
</div>
<form nz-form [nzLayout]="'horizontal'" [formGroup]="formGroup" (ngSubmit)="createGroup()">
  <nz-form-item>
    <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="name">Group name</nz-form-label>
    <nz-form-control [nzMd]="10" [nzSm]="12" [nzXs]="24" nzErrorTip="Please input a name for the new group!">
      <nz-input-group>
        <input nz-input formControlName="name"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="7">
      <button nz-button nzType="primary" [disabled]="!formGroup.valid">Create Group</button>
    </nz-form-control>
  </nz-form-item>
</form>

