<nz-modal
  [(nzVisible)]="isVisible"
  (nzOnCancel)="closeModal()"
  nzTitle="New Group">
  <form nz-form [nzLayout]="'vertical'" [formGroup]="formGroup">
    <nz-form-item>
      <nz-form-label nzFor="name">Group name</nz-form-label>
      <nz-form-control nzErrorTip="Please input a name for the new group!">
        <nz-input-group>
          <input nz-input formControlName="name"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div *nzModalFooter>
    <button [disabled]="!formGroup.valid"
            [nzLoading]="isLoading"
            (click)="createGroup()"
            nz-button
            nzType="primary">
      Create Group
    </button>
  </div>
</nz-modal>
