::ng-deep .ant-card {
  margin: 20px;
}

.events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

.scroll-container {
  height: calc(100vh - 320px);
  overflow-y: auto;
}
