<nz-page-header [nzGhost]="false" class="site-page-header" nzBackIcon nzTitle="Dishes" nzSubtitle="View, add or edit dishes from here">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>Dishes</nz-breadcrumb-item>
  </nz-breadcrumb>
</nz-page-header>


<div class="content">
  <nz-card [nzBodyStyle]="{'padding': '0'}">
    <div class="toolbar" nz-row>
      <div nz-col nzFlex="auto">
        <h3 nz-typography>Dishes</h3>
      </div>
      <div nz-col>
        <button nz-button nzType="primary" routerLink="./new"><i nz-icon nzType="plus"></i>Add Dish</button>
        <button nz-button disabled nzDanger><i nz-icon nzType="delete"></i>Delete Dish</button>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-button-group>
          <button nz-button (click)="refreshDishes()"><i nz-icon nzType="reload"></i></button>
        </nz-button-group>
      </div>
    </div>

    <nz-table #headerTable [nzData]="dishes" [nzLoading]="loading" [nzPageSize]="10">
      <thead>
      <tr>
        <th>Name</th>
        <th>Author</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dish of headerTable.data">
        <td><a [routerLink]="['./', dish['id']]">{{ dish['name'] }}</a></td>
        <td>{{ dish['author']['firstname'] }} {{ dish['author']['lastname'] }}</td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>
