<div class="middle">
  <br>
  <form nz-form [nzLayout]="'horizontal'" class="forgot-form" [formGroup]="changeForm" (ngSubmit)="onSubmit()">
    <div class="form-head">
      <h1 nz-typography>Change password</h1>
      <p>Change your current password.</p>
    </div>
    <div class="alert">
      <nz-alert nzType="success" *ngIf="alertMessage === 'success'" nzMessage="Success password has been changed. Login to get access." nzShowIcon>{{alertMessage}}</nz-alert>
      <nz-alert nzType="error" *ngIf="alertMessage === 'error'" nzMessage="Error something went wrong.." nzShowIcon>{{alertMessage}}</nz-alert>
    </div>
    <br>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your new Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="New password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="Please confirm your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button [disabled]="!changeForm.valid" nz-button class="forgot-form-button forgot-form-margin" [nzType]="'primary'">Change password</button>
    <a routerLink="/login">Login </a>or<a routerLink="/forgot"> request new token.</a>
  </form>
</div>
